@charset "UTF-8";

body {
  margin: 0;
	width: 200vw;
	height: 100vh;
}

header{
	font-family: 'arial black','arial','sans-serif','Impact';
  font-weight:normal;

  transform: none;
  position: fixed;
  margin: 0;
  padding-top: 2vh;
  width: 100vw;
	z-index: 1;

	/*background: #ffffff;*/
  background-color: rgba(255,255,255,0.8);
	text-align: center;

}
nav{
  font-family: 'arial black','arial','sans-serif','Impact';
  position: fixed;
  top: 0;
  left: 4vw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*width: 550px;*/
  height: 50px;
  margin: auto 0;
  z-index: 1;
  transform: rotate(-90deg);
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 896px) { 
  nav{
    font-family: 'arial black','arial','sans-serif','Impact';
    position: fixed;
    top: 0;
    left: 1vw;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 550px;*/
    height: 50px;
    margin: auto 0;
    z-index: 1;
    transform: rotate(-90deg);
    border-bottom: 1px solid #000;
  }
}
.head-list{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.head-list__item{
  padding-right: 30px;
}
main {
	font-family: 'arial','sans-serif';
	font-weight: normal;

}
footer{
    width: 200vw;
    
}

.pace-running .wrapper {
    display: none;
}


h3{
  text-align: center;
  font-size: 30px;
  margin: 15vh 10vh 5vh 10vh;
}

a {
	text-decoration: none;
	color: black;
}

ul {
  list-style: none;
}

.page1 {
	float:left;
	width: 100vw;
	height: 100%;
  /*background-color: rgba(50,50,50,0.8);
  color: #ffffff;*/
}
.page1Back{
  background-color: rgba(50,50,50,0.8);
  color: #ffffff;
}

.page2 {
	float:left;
	width: 100vw;
	height: 100%;
}

.title {
  color:black;
  font-size: 60px;
  padding: 0vh 10vw 0vh 10vw;
  border-bottom: groove #000000;
}

@media screen and (max-width: 480px) { 
  .title {
  color:black;
  font-size: 20px;
  padding: 0vh 10vw 0vh 10vw;
  border-bottom: groove #000000;
  }
}
/*@media screen and (min-width:1024px) { 
  .title {
    color:black;
    font-size: 60px;
  }
}*/
.subtitle {
}

.blank {
	margin-top: 110vh;
  background-color: #ffffff;
}

@media screen and (max-width:480px){
  .p-box{
    padding-top: 10px;
    margin-bottom: 50px;
    /*margin: 0 auto;*/
 
  }
}
.p-box{
  padding-top: 25px;
  margin-bottom: 100px;
  /*background-color: rgba(50,50,50,0.8);
  color: #ffffff;*/
}

.p-margin{
  padding-top: 20px;
}

.p-box h3 {
  width: 50%;
  margin-left: 25%;
}
.p-box p {
	width: 50%;
	margin-left: 25%;
}

.p-box li {
  width: 50%;
  margin-left: 30%;
}

/*.p-box h3 {
    margin: 20px 0;
}*/


.sns-box {
	text-align: center;
  padding-bottom: 100px;
  /*background-color: rgba(50,50,50,0.8);
  color: #ffffff;*/
	/*width: 75%;
	margin-left: 25%;*/
}

.sns-box li{
  display: inline;
  /*width: 75%;
  margin-left: 25%;*/
}

.sns-box h3 {
    margin: 20px 0;
}

.sns-box p {
    margin-bottom: : 3vh;
}

.fab{
  font-size: 3rem;
  color: #575757;
}

@media screen and (max-width:480px){
  .fab{
    font-size: 3rem;
  }

}

.contact-form{
	margin-left: 0;
}


.sns-box {
	text-align: center;
	/*width: 75%;
	margin-left: 25%;*/
}

.works-box {
  padding-top: 20px;
	text-align: center;
  padding-bottom: 100px;
}

.margin-0 {
	margin: 0;
}


#page-top {

}
 
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-right: 30px;
}
 
/*#page-top a:hover {
    background: #999;
    text-decoration: none;
}*/

.worksCategory li{
  display: list-item;
  text-align: center;
  padding-right: 1vw;
  float: right;
}

.allBtn {
  -webkit-appearance: none;
  /*display: inline-block;*/
  display: list-item;
  width: 10vw;
  height: 8%;
  padding: 2vh 2vw;
  margin: 0vh 5vw 0.5vh 10vw;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: solid 2px #101010;
  border-radius: 3px;
  transition: .4s;
}

.instaBtn {
  -webkit-appearance: none;
  /*display: inline-block;*/
  display: list-item;
  width: 10vw;
  height: 8%;
  padding: 2vh 2vw;
  margin: 0vh 5vw 0.5vh 10vw;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  color: #ffffff;
  background-color: #000000;
  border: solid 2px #101010;
  border-radius: 3px;
  transition: .4s;
}

.uxBtn {
  -webkit-appearance: none;
  /*display: inline-block;*/
  display: list-item;
  width: 10vw;
  height: 8%;
  padding: 2vh 2vw;
  margin: 0vh 5vw 0.5vh 10vw;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: solid 2px #101010;
  border-radius: 3px;
  transition: .4s;
}
.othBtn{
  -webkit-appearance: none;
  /*display: inline-block;*/
  display: list-item;
  width: 10vw;
  height: 8%;
  padding: 2vh 2vw;
  margin: 0vh 5vw 0.5vh 10vw;
  text-decoration: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border: solid 2px #101010;
  border-radius: 3px;
  transition: .4s;
}

.moreBtn{
  -webkit-appearance: none;
  /*display: inline-block;*/
  display: list-item;
  width: 100px;
  height: 8%;
  padding: 2vh 2vw;
  margin: 12vh 5vw 0vh 10vw;
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  color: #000000;
  background-color: #ffffff;
  border: solid 2px #101010;
  border-radius: 3px;
  transition: .4s;

}

.moreBtn:hover{
  color: #ffffff;
  background-color: #000000;
  border: solid 2px #ff0000;
  border-radius: 3px;
  transition: .4s;
}
.returnBtn{
  -webkit-appearance: none;
  /*display: inline-block;*/
  display: list-item;
  width: 100px;
  height: 8%;
  padding: 2vh 2vw;
  margin: 12vh 5vw 0vh 10vw;
  text-decoration: none;
  text-align: center;
  margin-top: 12vh;
  color: #000000;
  background-color: #ffffff;
  border: solid 2px #101010;
  border-radius: 3px;
  transition: .4s;


}
.returnBtn:hover{
  color: #ffffff;
  background-color: #000000;
  border: solid 2px #ff0000;
  border-radius: 3px;
  transition: .4s;
}

.firstWorks{
  top: 0;
  left: 0;
  position: relative;
  z-index: 0;

}


.secondWorks{
  top: 0;
  left: 0;
  position: relative;
  z-index: 0;
  text-align: center;
  display: none;
}
#containerWrapper{
  position: relative;
  max-width: 66vw;
  margin: 0 auto;   /*全体の中央寄せ*/
}
#container{
  margin: 0 auto;   /*全体の中央寄せ*/
  width: 50%;
  /*margin-left: 25vh;*/
  position: relative;
  z-index: 0;
}

.item img{ 
  width: 100%; 
  height: auto;
}

.item {
  width: 30vw; 
  margin: 2px;
  padding: 6px;
  border: 1px solid #eee;
  background-color: #111;
}

.item p{
  color: #ffffff;
}

/*.btn-submit{
  width: 300px;
  height: 50px;
  padding: 5px 8px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #aaa;
  background-image: none;
  background-color: #666;
  font-size: 20px;
  color: #fff;
}
.btn-submit:active{
  border-bottom: none;
  background-color: #888;
}*/
