@charset "UTF-8";

body {
  margin: 0;
	width: 200vw;
	height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 480px) { 
  body{
    overflow-x: hidden;
  }
}
header {
  position: fixed;
  width: 100vw;
  height: auto;
  padding-top: 2vh;
  z-index: 1;

  transform: none;
  margin: 0;
  background-color: rgba(255,255,255,0.8);
}
@media screen and (max-width: 480px) { 
  header {
    width: 100vw;
    height: 20vw;
    margin: 0;
    z-index: 1;
    background-color: #fff;
    transform: none;
  }
}
nav{
  font-family: 'arial black','arial','sans-serif','Impact';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: auto 0;
  z-index: 1;
  transform: rotate(-90deg);
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 480px) { 
  nav{
    left: -10vw;
    margin-top: 3vh;
    padding-bottom: 0;
  }
}
.head-list{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
#page-top a {
  font-size: 18px;
  padding-right: 30px;
}
main {
	font-family: 'arial','sans-serif';
	font-weight: normal;
}
footer{
    width: 200vw;
}
.pace-running .wrapper {
    display: none;
}
.pace-running{
    background-image: url(../assets/image/icon.png);
    background-repeat:  no-repeat;                         /* 画像の繰り返しを指定  */              
    background-position:center center;                     /* 画像の表示位置を指定  */
    background-size:contain;                               /* 画像のサイズを指定    */
    width:100%;                                            /* 横幅のサイズを指定    */
    height:auto;
}
h3{
  text-align: center;
  font-size: 30px;
  margin: 15vh 10vh 5vh 10vh;
}
a {
	text-decoration: none;
	color: black;
}
ul {
  list-style: none;
}
.page1 {
	float:left;
	width: 100vw;
	height: 100%;
}
.page1Back{
  background-color: rgba(50,50,50,0.8);
  color: #ffffff;
}
.page2 {
	float:left;
	width: 100vw;
	height: 100%;
}
.title {
  width: 40vw;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
  margin-top: 1vw;
  margin-right: 5vw;
  float: right;
  padding: 0 0 0 25px;
  z-index: 10;
  border-bottom: groove #000000;
}
@media screen and (max-width: 480px) { 
  .title {
    margin-top: 5vw;
  }
}
.soundImg{
  width: 10%;
  height: auto;
  z-index: 1;
  float: right;
  margin-top: 0;
  margin-right: 0;
  top: 1vh;
  right: 0;
  border-bottom:none;
}
.soundBox{
  position: fixed;
  width: 100vw;
  float: right;
  margin-top: 8vh;
  right: 5vw;
  cursor: pointer;
}
.waveBox{
  float: right;
  margin-top: 0;
  margin-right: 0;
  top: 1vh;
  right: 0;
  border-bottom:none;
}
#soundWave{
  margin: 0;
  padding: 0;
  display: none;
}
.subtitle {
}
.blank {
	margin-top: 110vh;
  background-color: #ffffff;
}
.sliderBox{
  width: 50vw;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
}
.swiper-container{
  margin: 0;
  padding: 0;
  top: 20vh;
  left: 100%;
}
.swiper-slide{
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
.swiper-pagination{
  margin: 0;
  padding: 0;
  bottom: 0;
  color: #000;
}
.p-box{
  padding-top: 25px;
  margin-bottom: 100px;
  width: 100%;
}
@media screen and (max-width:480px){
  .p-box{
    padding: 0;
    margin-bottom: 50px;
    padding-top: 10vh;
    width: 80%;
  }
}
.p-margin{
  padding-top: 20px;
}
.p-box h3,.p-box p{
  width: 50%;
  margin-left: 25%;
}
@media screen and (max-width:480px){
  .p-box p, .p-box h3{
    width: 100%;
    margin-left: 10vw;
  }
}
.sns-box{
  padding-top: 25px;
  margin-bottom: 100px;
  width: 100%;
  padding-bottom: 100px;
  text-align: center;
  padding-bottom: 100px;
}
.sns-box ul{
  margin: 0;
  padding: 0;
}
.sns-box li{
  display: inline;
}
.sns-box h3 {
  margin: 20px 0;
}
.sns-box p {
  margin-bottom: 3vh;
}
.fab{
  font-size: 3rem;
  color: #575757;
}
.works-box {
  padding-top: 20px;
	text-align: center;
  padding-bottom: 100px;
}
.worksCategory li{
  display: list-item;
  text-align: center;
  padding-right: 1vw;
  float: right;
}
.worksBtn{
  -webkit-appearance: none;
  display: list-item;
  width: 120px;
  height: 8%;
  margin: 0 auto;
  margin-bottom: 1vh;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #565656;
}
.worksBtn:hover{
  color: #787878;
  /*border: none;*/
  border-bottom: solid 2px #ff0000;
  transition: .1s;
}
.firstWorks, .secondWorks{
  top: 0;
  left: 0;
  position: relative;
  z-index: 0;
}
.secondWorks{
  text-align: center;
  display: none;
}
#containerWrapper{
  position: relative;
  max-width: 80vw;
  margin: 0 auto;
}
@media screen and (max-width:480px){
  #containerWrapper{
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
#container{
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 0;
}
.item img{ 
  width: 100%; 
  height: auto;
}
.item {
  width: 30vw; 
  border: 1px solid #eee;
  background-color: #111;
}
@media screen and (max-width:480px){
  .item {
    width: 100vw;
    border: none;
  }
}
.item p{
  color: #ffffff;
}