@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;

}

body {
  /*height: ;*/
  box-sizing: border-box;
  background-color: #ffffff;
}

main {
  font-family: 'arial','sans-serif';
  font-weight: normal;
  z-index: 1;
  margin-left: 30%;
  width: 65%;
  height: 100%;
  margin-right: 2%;
}

header {
  /*width: 100%;*/
}

footer {
}
h3{
  text-align: center;
  font-size: 30px;
  margin: 10vh;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}


.work-about {
  position: fixed;
  max-width: 20%;
  height: auto;
  /*background: #FFFFFF;*/
  /*background: red;*/
  margin-top: 18%;
  margin-left: 2%;

  font-family: 'arial black','Impact','arial';
  font-weight:lighter;
  word-wrap: break-word;

  /*border: solid;*/
}
.work-about p{
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 0;
  /*font-family: 'arial','Impact';*/
  font-family: 'New Gulim';
  font-weight:lighter;
  border-bottom: solid 2px #555;
}
#grad_01{/*01*/
  padding: 2.5px;
  background: -moz-linear-gradient(top left, #D42C27, #4EB4E7); 
  background: -webkit-linear-gradient(top left, #D42C27, #4EB4E7); 
  background: linear-gradient(to bottom right, #D42C27, #4EB4E7); 
}
#grad_02{/*border*/
  padding: 2.5px;
  background: -moz-linear-gradient(top left, #255C30, #D0E28D); 
  background: -webkit-linear-gradient(top left, #255C30, #D0E28D); 
  background: linear-gradient(to bottom right, #255C30, #D0E28D); 
}
#grad_03{/*sinage*/
  padding: 2.5px;
  background: -moz-linear-gradient(top left, #bd4056, #4082a8); 
  background: -webkit-linear-gradient(top left, #bd4056, #4082a8); 
  background: linear-gradient(to bottom right, #bd4056, #4082a8); 
}
#grad_04{/*artgurg*/
  padding: 2.5px;
  background: -moz-linear-gradient(top left, #d47a7e, #143160); 
  background: -webkit-linear-gradient(top left, #d47a7e, #143160); 
  background: linear-gradient(to bottom right, #d47a7e, #143160); 
}
#grad_05{/*mimie*/
  padding: 2.5px;
  background: -moz-linear-gradient(top left, #60A7D6, #E6E6E5); 
  background: -webkit-linear-gradient(top left, #60A7D6, #E6E6E5); 
  background: linear-gradient(to bottom right, #60A7D6, #E6E6E5); 
}
#grad_06{/*ura*/
  padding: 2.5px;
  background: -moz-linear-gradient(top left, #f27b00, #00e7d8); 
  background: -webkit-linear-gradient(top left, #f27b00, #00e7d8); 
  background: linear-gradient(to bottom right, #f27b00, #00e7d8); 
}
#grad_07{/*nomgame*/
  padding: 2.5px;
  background: -moz-linear-gradient(top left, #d47a7e, #143160); 
  background: -webkit-linear-gradient(top left, #d47a7e, #143160); 
  background: linear-gradient(to bottom right, #d47a7e, #143160); 
}
#grad_08{/*wa*/
  padding: 2.5px;
  background: -moz-linear-gradient(top left, #C8B754, #ADAEA5); 
  background: -webkit-linear-gradient(top left, #C8B754, #ADAEA5); 
  background: linear-gradient(to bottom right, #C8B754, #ADAEA5); 
}
#grad_09{/*shundo*/
  padding: 2.5px;
  background: -moz-linear-gradient(top left, #FF8A4E, #143160); 
  background: -webkit-linear-gradient(top left, #FF8A4E, #143160); 
  background: linear-gradient(to bottom right, #FF8A4E, #040000); 
}


#grad_inner{
  padding: 16px;
  background-color: #fff;
}
.thumbnail-box{
  position: relative;
  width: 100%;
  /*max-width: 600px;*/
  height: 50%;
  margin: 0;
  /*margin-left: -30%;*/
  /* filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6)); */
}

.thumbnail-img{
  /* position: fixed; */
  width: 90%;
  max-width: 100%;
  height: auto;
  margin-top: 10%;
  
  /*margin: 50px auto;*/
  /*margin-left: -30%;*/
}
@media screen and (max-width: 480px) { 
  .thumbnail-img{
  }
}
/*@media screen and (max-width: 896px) { 
  .thumbnail-img{
     transform: rotate(90deg); 
    margin-left: 30vw;
    width: 75vw;
    height: auto;
  }
}*/

.thumbnail-text {
  /*font-family: 'arial','Impact';*/
  font-family: 'New Gulim';
  font-weight:lighter;
  font-size: 20px;
  /*margin-left: 30%;*/
  margin-top: 5vh;
  padding-bottom: 2vh;
  width: 100%;
}

.text-title {
  font-family: 'arial black','arial','Impact';
  font-weight:lighter;
  text-align: center;
  font-size: 20px;
  margin-top: 10vh;
  /*margin-left: 30%;*/
}
.underline {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 5vh;
  /*height: 10;*/
   z-index: -10;
}

.underline::after {
  background-color: #000000;
  bottom: 0;
  content: '';
  display: block;
  height: 5px;
  padding: 0;
  left: 0;
  position: absolute;
  transition: .5s all;
  width: 0;
  margin-left: 50%;
  z-index: -10;
}

.underline.scrollin::after {
  margin-left: 10%;
  width: 80%;
  padding: 0;
  z-index: -10;
}

.fadein {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}
.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}


.link {
  font-family: 'arial black','arial','Impact';
  font-weight:lighter;
  text-align: center;
  font-size: 20px;

}

.text-container {
  font-family: 'New Gulim';
  /*font-family: 'arial','Impact';*/
  font-weight:lighter;
  font-size: 16px;
  /*margin-left: 30%;*/
}

.tail_blank {
  height: 10vh;
  margin: 10vh;
}

.img-box {
  max-width: 100%;
  /*object-fit: cover;*/
  /*display: table-cell;*/
  /*margin-left: 25vw;*/
  /*margin-top: 5vw;*/
  /*margin-bottom: 5vw;*/
  padding-bottom: 5vh;
  float:left;
  /*display:table-cell;*/
}
.img-container {
  /*object-fit: cover;*/
  /*display: table-cell;*/
  width: 45%;
  height: auto;
  padding:2px;
  margin:0;
  position: relative;

  /*display:table-cell;*/
}
@media screen and (max-width: 896px) { 
  .img-container {
    width: 45%;
    padding:2px;
  }

}
.mov-box {
  width:100%;
  height:auto;
}

.mov-container {
  /*object-fit: cover;*/
  /*display: table-cell;*/
  width:100%;
  height:auto;
  margin-top: 0;
  position:relative;
  top:0;
  left:0;
  /*height: 30%;*/
  /*margin-left: 5vw;*/

  /*display:table-cell;*/
}